{% extends "basic/header.html" %}

{% block content %}
<div class="container">
  <div class="col-md-12">
    <row>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>{{ user.get_username }}</h4>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>My Conferences</h4>
            </div>
            <div class="panel-body">
              {% if Conferences == '' %}
                <p>It appears you have no conferences. Go join one!</p>
              {% else %}
                {% for Conference in Conferences %}
                <p>{{Conference.conference_name}}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>My Submissions</h4>
            </div>
            <div class="panel-body">
              {% if Items == '' %}
                <p>You haven't submitted any items or have nothing to review!</p>
              {% else %}
                {% for Item in Items %}
                <p>{{ Item.item_id }}</p>
                {% endfor %}
              {% endif%}
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Conferences I'm Attending</h4>
            </div>
            <div class="panel-body">
              {% if Attending == '' %}
                <div class="text-center">
                  <p>You're not attending any conferences. Click the Attend button on their page!</p>
                </div>
              {% else %}
                {% for Attend in Attending %}
                  <p>{{ Attend.conference_name }}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    </row>
  </div>
</div>
{% endblock %}
