{% extends "basic/header.html" %}

{% block content %}
<div class="container">
  <!-- Account Info Panel -->
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Account Details</h4>
          </div>
          <div class="panel-body">
            <h4>{{ user.get_username }}</h4>
          </div>
        </div>
      </div>
  <!-- Event Panels -->
      <div class="col-md-8">
        <div class="panel-group">

          <!-- Events You Own or Are Attending -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>My Events</h4>
            </div>
            <div class="panel-body">
              {% if Conferences == '' %}
                <p>It appears you have no conferences. Go join one!</p>
              {% else %}
                {% for Conference in Conferences %}
                  <div class="col-md-3">
                    <div class="well well-sm text-center">
                      <p><strong>{{ Conference.conference_name }}</strong></p>
                      <button class="btn btn-default" onclick="location.href='/{{ Conference.conference_id }}/'">View</button>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>

          <!-- Papers you've submitted -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>My Submissions</h4>
            </div>
            <div class="panel-body">
              {% if Items == '' %}
                <p>You haven't submitted any items or have nothing to review!</p>
              {% else %}
                {% for Item in Items %}
                {{ Item.item_id }}
                {% endfor %}
              {% endif%}
            </div>
          </div>

          <!-- Invitations -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Invitations</h4>
            </div>
            <div class="panel-body">
              <p>You'll see invitations here!</p>
            </div>
          </div>
        </div>
      </div>

</div>
{% endblock %}
