<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal{{pdf.item_id}}">
  View PDF
</button>

<!-- Modal -->
<div class="modal fade" id="myModal{{pdf.item_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 75%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">{{ pdf.file_path.url }}</h4>
      </div>
      <div class="modal-body">

        <div style="text-align: center;">
          <br>
          <br>
          <br>
          <div class="col-sm-20">
            <row>
              <div class="col-sm-8">
                <div class="well" style="height: 750px">
                  <iframe src="{{pdf.file_path.url}}"
                  style="width:100%; height:100%;" frameborder="0"></iframe>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="well" style="height: 750px">
                  <p>Scrollable well for comments/reviews</p>
                </div>
              </div>
            </row>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
