{% extends "basic/header.html" %}

{% block content %}
<div class="col-sm-12">
  <form class="form-inline">
    <div class="form-group">
      <input class="form-control" name="conferenceNameSearch" id="conferenceNameSearch">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
  {% csrf_token %}
  {% for conference in Conferences %}
  <li>
    <a href='/{{ conference.conference_id }}/'>{{ conference.conference_name }}</a>
  </li>
  {% endfor %}
  </div>
{% endblock %}
