{% extends "basic/header.html" %}

{% block content %}
<div class="container-custom container" style="padding-bottom: 100px">
  <div class="col-md-12">
    <form class="form-inline pull-right">
      <div class="form-group">
        <input class="form-control" name="conferenceNameSearch" id="conferenceNameSearch">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confCreate">Create an Event</button>
    </form>

    <!-- The event creation modal -->
    <div id="confCreate" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Event Setup</h2>
          </div>
          <div class="modal-body">
            <form id="CreateConferenceForm" action="" role="form" method="post" enctype="">
              {% csrf_token %}
              <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
                {% if form.name.errors %}
                <small class="form-text text-muted text-danger">This field is required.</small>
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.info.label_tag }}
                {{ form.info }}
              </div>
              <div class="form-group">
                {{ form.address.label_tag }}
                {{ form.address }}
              </div>
              <div class="form-group">
                {{ form.city.label_tag }}
                {{ form.city }}
              </div>
              <div class="form-group">
                {{ form.state.label_tag }}
                {{ form.state }}
              </div>
              <div class="form-group">
                {{ form.available.label_tag }}
                {{ form.available }}
              </div>
          </div>
          <div class="modal-footer">
              <input type="submit" class="btn btn-success" value="Create">
            <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
      </form>
        </div>
      </div>
    </div>
  </div>
</div>

<br>


<div class="container" style="text-align: center">
  <div class="row">
    {% csrf_token %}
    {% for conference in Conferences %}
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="well text-center">
        <p><strong>{{ conference.conference_name }}</strong></p>
          <h4>{{ conference.conference_info }}</h4>
          <button class="btn btn-outline btn-primary btn-block" onclick="location.href='/{{ conference.conference_id }}/'">View</button>
        </div>
      </div>
   {% endfor %}
  </div>
</div>
{% if Conferences.has_other_pages %}
<div class="text-center">
<ul class="pagination" style="text-center">
  {% if Conferences.has_previous %}
    <li><a href="?page={{ Conferences.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in Conferences.paginator.page_range %}
    {% if Conferences.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if Conferences.has_next %}
    <li><a href="?page={{ Conferences.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
</div>
{% endif %}
{% endblock %}
