{% extends "basic/header.html" %} {% load staticfiles %} {% block content %}
<div class="jumbotron jumbotron-fluid" style="background-color: transparent">
    <div class="container text-center">
        <h1>EventPal.</h1>
        <hr align="center" class="light" width="25%"> {% if user.is_authenticated %}
        <div class="container" font-size="14px">
            <h4>Welcome, {{user.get_username}}</h4>
        </div>
        {% endif %}
        <br>
        <div id="test" class="row">
            <div class="col-md-4 text-center">
                <div class="panel panel-body-transparent">
                    <a href='/gallery/'>
                        <img src="{% static 'images/006-agenda.svg' %}" width="50%" height="50%">
                    </a>
                </div>
                <div class="panel-footer-transparent">

                    <button type="button" class="btn btn-primary btn-outline btn-block btn-lg" onclick="location.href='/gallery/'">View Conferences</button>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="panel panel-body-transparent">
                    <a href='gallery'>
                        <img src="{% static 'images/003-networking.svg' %}" width="50%" height="50%">
                    </a>
                </div>
                <div class="panel-footer-transparent">
                    <button type="button" class="btn btn-success btn-outline btn-block btn-lg" onclick="location.href='/gallery/'">Create a Conference</button>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="panel panel-body-transparent">
                    <a href='/gallery/'>
                        <img src="{% static 'images/009-contract.svg' %}" width="50%" height="50%">
                    </a>
                </div>
                <div class="panel-footer-transparent">
                    <button type="button" class="btn btn-danger btn-outline btn-block btn-lg" onclick="location.href='/gallery/'">Submit Something</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Could use a separate bg color -->
<div class="jumbotron jumbotron-fluid jumbotron-fixed-bottom">
<div class="container" style="background-color: transparent">
    <h2 class="text-center">Upcoming Conferences</h2>
    <hr align="center" class="light" width="25%">
    <ul class="mainSlider">
        {% csrf_token %}
        {% for conference in Conferences %}
        <div class="slider-panel">
        <div class="panel-title">
            <p><strong>{{ conference.conference_name }}</strong></p>
        </div>
        <div class="slider-panel-footer">
            <button class="btn btn-primary btn-outline btn-block" onclick="location.href='/{{ conference.conference_id }}/'">View</button>
        </div>
    </div>
        {% endfor %}
</div>
</div>
</div>

<!-- Remove?
<div class="modal fade" id="attendModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Attend Confirmation</h4>
            </div>
            <div class="modal-body">
                <p><strong>Are you sure you want to attend this conference?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-lg" data-dismiss="modal">Yes</button>
                <button type="submit" class="btn btn-danger btn-lg" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}
