{% extends "basic/header.html" %}
{% block content %}

<div class="container">
    <p>Hello, {{user.get_username}}</p>
</div>

<div class="container text-center">
    <h3>Welcome to EventPal!</h3>
    <p>We're crazy about conferences and get togethers!</p>
    <p>We've created this site so intellectuals can easily organize themselves.</p>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p>View Conferences</p>
        </div>
        <div class="col-sm-4">
            <p>Create a Conference</p>
        </div>
        <div class="col-sm-4">
            <p>Submit a Paper</p>
        </div>
    </div>
    <!-- Could use a separate bg color -->
    <div class="container" style="background: #22252C; color: #9d9d9d;">
        <h3 class="text-center">UPCOMING CONFERENCES AND CONVENTIONS</h3>

        <!-- Needs a for loop added to display three upcoming conferences -->
        <ul class="mainSlider">
            {% csrf_token %}
            {% for conference in Conferences %}
            <div class="well">
                <p><strong><a href='/{{ conference.conference_id }}/'>{{ conference.conference_name }}</a></strong></p>
                <p>{{ conference.conference_info }}</p>
                <p>NEEDS DATE FIELD</p>
                <button class="btn btn-block" onclick="location.href='/{{ conference.conference_id }}/'">View</button>
            </div>
            {% endfor %}
    </div>
</div>

<div class="modal fade" id="attendModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Attend Confirmation</h4>
            </div>
            <div class="modal-body">
                <p><strong>Are you sure you want to attend this conference?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-lg" data-dismiss="modal">Yes</button>
                <button type="submit" class="btn btn-danger btn-lg" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
