<!DOCTYPE html>
<html lang="en">

<head>

  <title>myConf</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap Core CSS -->
  {% load staticfiles %}
  <link rel='stylesheet' href="{% static 'css/bootstrap.css' %}" type='text/css'/>
  <link rel="stylesheet" href="{% static 'css/sidebar-nav.css' %}" type="text/css"/>
  <!-- jQuery Version 1.11.1 -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <style>
    body {
      padding-left: 250px;
    }
  </style>
</head>

<body>
  <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="/">
              MyConf
            </a>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="#">Notifications</a>
          </li>
          <li>
            <a href="#">My Conferences</a>
          </li>
          <li>
            <a href="#">My Papers</a>
          </li>
          <li>
            <a href="#">My Account</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    {% block content %}
    {% endblock %}
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'js/bootstrap.js' %}"></script>-->

</body>

</html>
