{% extends "basic/header.html" %}
{% block content %}


<div class="container">
  <div class="jumbotron">
    <h3>Create an Account</h3>
    <form id="register-form" method="post" action="" style="display: block;">
      {% csrf_token %}
      <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
      <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password }}
        {% if form.errors %}
          {% for errors in form.errors %}
            <small class="form-text text-muted text-danger">{{ errors }}</small>
          {% endfor %}
        {% endif %}
      </div>
      <div class="form-group">
        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register">
      </div>
    </form>
  </div>
</div>

{% endblock %}
